<app-display valorDigitado={{digitado}}></app-display>
<div class="teclado">
<app-botao  largura="50px"  altura="50px" conteudo="1" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="2" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="3" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="4" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="5" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="6" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="7" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="8" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="9" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="0" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="+" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="-" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="*" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="/" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="=" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="Apagar" (acaoBotao)="colocarItem($event)"></app-botao>
<app-botao  largura="50px"  altura="50px" conteudo="<--" (acaoBotao)="colocarItem($event)"></app-botao>
</div>